<IfModule mod_rewrite.c>
    # 打开Rerite功能
    RewriteEngine On

    # 如果请求的是真实存在的文件或目录，直接访问
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # 如果访问的文件或目录不是真事存在，分发请求至 index.php
    RewriteRule . index.php
</IfModule>

<IFModule mod_php7.c>
php_value upload_max_filesize "300M"
php_value post_max_size "400M"
php_value max_execution_time "3000"
php_value memory_limit "800M"
</IFModule>
